@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Light mode */
[data-theme="light"] .swiper-pagination-bullet {
  background-color: #dc143c; /* Dark gray color for light mode */
}

/* Dark mode */
[data-theme="dark"] .swiper-pagination-bullet {
  background-color: #ddd; /* Light gray color for dark mode */
}


.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullets,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullets {
    background-color: #f13024;
  }

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after{
  color: #f13024;
}
[data-theme="light"] {
  --bg-color:rgb(247 247 248 / var(--tw-bg-opacity));; 
  --text-color: #000; 
}

[data-theme="dark"] body {
  position: relative;
  overflow: auto; 
  background-color: transparent;
}
[data-theme="dark"] .header{
  background: #000;
}
[data-theme="light"] .header{
  background: #fff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
@layer base{ 
  body{
    @apply text-white leading-relaxed relative ; 
    overflow-y: auto;
  }
  .page{
    @apply w-full h-screen overflow-hidden;
  }
  .about{
    @apply w-full h-full overflow-auto;
  }
  .h1{
    @apply text-[41px] leading-tight md:text-[61px] md:leading-[1.3];
  }
  .h2{
    @apply text-[36px] leading-tight md:text-[55px] md:leading-[1.3];
  }
  .h3{
    @apply text-[26px] leading-tight md:text-[44px] md:leading-[1.3];
  }
  p{
    @apply leading-[1.77] text-gray-20 font-light ;
  }
}

@layer utilities {
  .btn_dark_rounded
{
  @apply bg-secondary text-white border-[#383838] border transform;
}
.btn_light_rounded
{
  @apply bg-tertiary text-white border-[#383838] border transform;
}
.page-container {
  @apply w-full grid  grid-cols-1 lg:grid-cols-[2.5fr_1fr] md:max-w-[800px] lg:max-w-[1140px];
}
.max-container {
  @apply mx-auto max-w-[1240px];
}
.footer-container{
  @apply mb-3 ;
}
.page-height-container{
  @apply h-100vh;
}
.nav-container {
  @apply mx-auto 3xl:max-w-[1320px] xs:max-w-[420px];
}
.padding-container {
  @apply px-6 lg:px-20 3xl:px-0;
}
.skill {
  @apply mx-auto max-w-[1440px] 3xl:px-0;
}
.blur {
  filter: blur(5px); 
}
.flexCenter{
  @apply flex items-center justify-center;
}
.flexBetween {
  @apply flex items-center justify-between;
}
.flexStart {
  @apply flex items-center justify-start;
}
.flexEnd {
  @apply flex items-center justify-end;
}
.regular-64 {
  @apply text-[74px] font-[400] leading-[120%];
}
.regular-52 {
  @apply text-[62px] font-[400] leading-[120%];
}
.regular-48 {
  @apply text-[58px] font-[400] leading-[120%];
}
.regular-32 {
  @apply text-[42px] font-[400] ;
}
.regular-28 {
  @apply text-[38px] font-[400] ;
}
.regular-24 {
  @apply text-[20px] font-[400] ;
}
.regular-20 {
  @apply text-[30px] font-[400] ;
}
.regular-18 {
  @apply text-[28px] font-[400] ;
}
.regular-16 {
  @apply text-[18px] font-[400] ;
}
.regular-14 {
  @apply text-[15px] font-[400] ;
}
.medium-28 {
  @apply text-[18px] font-[600] ;
}
.medium-24 {
  @apply text-[28px] font-[600] ;
}
.medium-22 {
  @apply text-[24px] font-[600] ;
}
.medium-20 {
  @apply text-[20px] font-[600] ;
}
.medium-18 {
  @apply text-[18px] font-[600] ;
}
.medium-16 {
  @apply text-[16px] font-[600] ;
}
.medium-14 {
  @apply text-[14px] font-[600] ;
}
.bold-88{
  @apply text-[98px] font-[700] leading-[120%];
}
.bold-64{
  @apply text-[74px] font-[700] leading-[120%];
}
.bold-52{
  @apply text-[62px] font-[700] leading-[120%];
}
.bold-48{
  @apply text-[58px] font-[700] leading-[120%];
}
.bold-44{
  @apply text-[54px] font-[700] leading-[120%];
}
.bold-40{
  @apply text-[50px] font-[700] leading-[120%];
}
.bold-32{
  @apply text-[42px] font-[700] leading-[120%];
}
.bold-28{
  @apply text-[38px] font-[700] leading-[120%];
}
.bold-24{
  @apply text-[34px] font-[600];
}
.bold-20{
  @apply text-[25px] font-[500] ;
}
.bold-18{
  @apply text-[20px] font-[700] ;
}
.bold-16{
  @apply text-[16px] font-[700] ;
}
.bold-14{
  @apply text-[10px] font-[700] ;
}
}


.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
  box-sizing: border-box;
}
.lds-spinner {
  padding-top:"400px";
  color: currentColor;
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 6.4px;
  height: 17.6px;
  border-radius: 20%;
  background: currentColor;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card-container {
  filter: blur(0.5px);
  transition: filter 0.3s ease-in-out;
}

.card-container:hover {
  filter: blur(0);
}

.footer {
  /* background-color: #282c34; */
  color: white;
  /* padding: 20px 0; */
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
@media (max-width: 768px) {
  .home {
    height: 72vh;
  }
}